[
    {"default", [
        {dialect, mysql},
        {config, [
            {host, "127.0.0.1"},
            {port, 3306},
            {user, "root"},
            {password, "migerl"},
            {database, "migerl_test"},
            {log_warnings, false},
            {queries, [
                "SET NAMES utf8"
            ]}
        ]}
    ]},
    {"devel", [
        {dialect, mysql},
        {config, [
            {host, "127.0.0.1"},
            {port, 3306},
            {user, "devel-user"},
            {password, "migerl"},
            {database, "migerl_devel"},
            {log_warnings, false},
            {queries, [
                "SET NAMES utf8"
            ]}
        ]}
    ]},
    {"pg", [
        {dialect, postgres},
        {config, #{
            host => "localhost",
            username => "postgres",
            password => "",
            port => 5432
        }}
    ]}
].
