{erl_opts, [
            no_debug_info,
            warnings_as_errors
           ]}.

{deps, [
        {color, {git, "git://github.com/julianduque/erlang-color", {branch, master}}},
        {epgsql, {git, "git://github.com/epgsql/epgsql", {tag, "4.3.0"}}},
        {getopt, {git, "git://github.com/jcomellas/getopt", {branch, master}}},
        {mysql, {git, "git://github.com/mysql-otp/mysql-otp", {tag, "1.5.0"}}},
        yamerl
       ]}.

{escript_incl_apps, [migerl, getopt, mysql, epgsql, color, yamerl]}.
{escript_main_app, migerl}.
{escript_name, migerl}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

% TODO: dialyze
%{dialyzer, [
%            {warnings, [
%                        unknown,
%                        underspecs,
%                        no_return
%                       ]}
%           ]}.

%% Profiles
{profiles, [
            {test, [
                    {erl_opts, [debug_info]}
                   ]}
           ]}.
